nav{background-color: rgb(231, 255, 235);}

header{background-color: rgb(231, 249, 255);}

.quadrati{position: relative;}

.quadrati::before { content: '';
                    width: 20px;
                    height: 20px;
                    background-color: darkblue;
                    position: absolute;
                    left: -30px;
                    top: 15px}

.recapiti {list-style-type: none;
            }

span    {font-weight: 500;}


.square {list-style-type: square;}

.simbolo::before {
    content: url(./pencil_39483.ico);
}

/* .progress {width: 200px;} */

body { margin: 0px;  }
